<footer class="footer-distributed">

    <div class="footer-left">

        <h3><img src="/public/img/80.png" alt=""> Aurora Development</h3>

        <p class="footer-links">
            <a class="nav-link" href="/">{{language.sectionsInfo.home}}</a>
            ·
            <a class="nav-link" href="/{{language.CurrentLanguage}}/library">{{language.sectionsInfo.library}}</a>
            ·
            <a class="nav-link" href="/{{language.CurrentLanguage}}/software">{{language.sectionsInfo.software}}</a>
            ·
            <a class="nav-link" href="/{{language.CurrentLanguage}}/forum">{{language.sectionsInfo.foro}}</a>
            ·
            <a class="nav-link"
                href="/{{language.CurrentLanguage}}/our-services">{{language.sectionsInfo.ourServices}}</a>
            ·
            <a class="nav-link" href="/{{language.CurrentLanguage}}/contact-us">{{language.sectionsInfo.contactUs}}</a>
        </p>

        <p class="footer-company-name">Aurora Development &copy; 2019</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Km. 5 Av. Las Palmas</span> Medellín, Colombia</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+57 322 277 0726</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:contact@aurorahostsite.com">contact@auroradevelopment.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>{{language.sectionsInfo.aboutAurora}}</span>
            {{language.sectionsInfo.aboutAuroraContent}}
        </p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/auroradevproject/"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/AuroraDevelopm1"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/jhonatan-restrepo-garz%C3%B3n-485a30152/"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://github.com/StrangeGuy77/"><i class="fab fa-github"></i></a>

        </div>

    </div>

</footer>