<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/40.png" />
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/flaticon/flaticon.css">
    <script src="https://kit.fontawesome.com/747fbeff96.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark nav-color">
        <div class="row">
            <a class="navbar-brand" href="/"><img src="/public/img/80.png" alt="logo"> <h3 class="navbar-brand"> Aurora Development</h3> </a>
            
        </div>
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">{{language.home}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{language.CurrentLanguage}}/library">{{language.library}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{language.CurrentLanguage}}/software">{{language.software}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{language.CurrentLanguage}}/forum">{{language.foro}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{language.CurrentLanguage}}/our-services">{{language.ourServices}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{language.CurrentLanguage}}/contact-us">{{language.contactUs}}</a>
                </li>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto nav-item">
                        <div class="dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> <i
                                    class="fas fa-language"></i>
                                {{language.language}}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/es"><i class=""></i> Español</a>
                                <a class="dropdown-item" href="/en"><i class=""></i> English</a>
                                <a class="dropdown-item" href="/de"><i class=""></i> Deutsch</a>
                                <a class="dropdown-item" href="/fr"><i class=""></i> Francais</a>
                                <a class="dropdown-item" href="/jp"><i class=""></i> 日本語</a>
                                <a class="dropdown-item" href="/it"><i class=""></i> Italiano</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>
            {{#if sidebar.stats.softwares}}
            <div class="col-md-4">
                {{> sidebar/stats}}
                {{> sidebar/popular}}
                {{> sidebar/comments}}
            </div>
            {{/if}}
        </div>
    </div>

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3><img src="/public/img/80.png" alt=""> Aurora Development</h3>

            <p class="footer-links">
                <a class="nav-link" href="/">{{language.home}}</a>
                ·
                <a class="nav-link" href="/{{language.CurrentLanguage}}/library">{{language.library}}</a>
                ·
                <a class="nav-link" href="/{{language.CurrentLanguage}}/software">{{language.software}}</a>
                ·
                <a class="nav-link" href="/{{language.CurrentLanguage}}/forum">{{language.foro}}</a>
                ·
                <a class="nav-link" href="/{{language.CurrentLanguage}}/our-services">{{language.ourServices}}</a>
                ·
                <a class="nav-link" href="/{{language.CurrentLanguage}}/contact-us">{{language.contactUs}}</a>
            </p>

            <p class="footer-company-name">Aurora Development &copy; 2019</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Km. 5 Av. Las Palmas</span> Medellín, Colombia</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+57 322 277 0726</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:contact@aurorahostsite.com">contact@aurorahostsite.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>{{language.aboutAurora}}</span>
                {{language.aboutAuroraContent}}
            </p>

            <div class="footer-icons">

                <a href="https://www.facebook.com/auroradevproject/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/AuroraDevelopm1"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/jhonatan-restrepo-garz%C3%B3n-485a30152/"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://github.com/StrangeGuy77/"><i class="fab fa-github"></i></a>

            </div>

        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/jquery"></script>
    <script src="/public/js/scripts.js"></script>


</body>

</html>