<style>
    body {
        background-image: url("https://hdqwalls.com/download/aurora-borealis-moon-night-ce-1920x1080.jpg");
    }
</style>

<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-envelope"></i> {{language.contactUs}}
        </h3>
    </div>
    <div class="card-body">
        <form action="/contact-us/send" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <i class="fas fa-tag sender-icon"></i>
                <input type="text" name="subject" class="form-control" placeholder="{{language.signIssue}}" required>
            </div>
            <div class="form-group">
                <i class="fas fa-envelope sender-icon"></i>
                <input type="text" name="sender" class="form-control" placeholder="{{language.signEmail}}"
                    required>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle sender-icon"></i>
                <textarea name="issue" class="form-control" rows="2" placeholder="{{language.signContent}}"
                    required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="far fa-share-square"></i> {{language.sendEmail}}
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header bg-dark align-items-center">
        <h4 class="card-title text-white">
            <i class="fas fa-question"></i> {{language.faq.faq}}
        </h4>
    </div>
    <div class="card-header align-items-center">
        <div class="card-header" id="toggle-howToUploadASoftware">
            {{language.faq.howToUploadASoftware}} <i class="fas fa-sort-down"></i>
        </div>
        <div class="card-body" id="howToUploadASoftware">
            <p class="lead">{{language.faq.htuSAnswer}}</p>
        </div>

        <div class="card-header" id="toggle-howToUploadABook">
            {{language.faq.howToUploadABook}} <i class="fas fa-sort-down"></i>
        </div>
        <div class="card-body" id="howToUploadABook">
            <p class="lead">{{language.faq.htuBAnswer}}</p>
        </div>
        
        <div class="card-header" id="toggle-howLongDoesItTakesForAnAnswer">
            {{language.faq.howLongDoesItTakesForAnAnswer}} <i class="fas fa-sort-down"></i>
        </div>
        <div class="card-body" id="howLongDoesItTakesForAnAnswer">
            <p class="lead">{{language.faq.hldtAnswer}}</p>
        </div>

        <div class="card-header" id="toggle-whereToFindCookiesAndUserAgreement">
            {{language.faq.whereToFindCookiesAndUserAgreement}} <i class="fas fa-sort-down"></i>
        </div>
        <div class="card-body" id="whereToFindCookiesAndUserAgreement">
            <p class="lead">{{language.faq.wtfcAnswer}}</p>
        </div>

        <div class="card-header" id="toggle-whereToFindAModerator">
            {{language.faq.whereToFindAModerator}} <i class="fas fa-sort-down"></i>
        </div>
        <div class="card-body" id="whereToFindAModerator">
            <p class="lead">{{language.faq.htfmAnswer}}</p>
        </div>
        
    </div>
</div>
