<style>
    body {
        /* Location of the image */
        background-image: url("https://wallpaperplay.com/walls/full/8/4/a/44843.jpg");
    }

    .selection {
        height: 120%
    }
</style>

<div class="container-fluid p4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark">
                    <h3 class="card-title text-white">
                        <i class="far fa-file-code"></i> {{language.softwareInfo.uploadYourSoftware}}
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/{{language.CurrentLanguage}}/software" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <i class="fas fa-file-code icon"></i>
                                    <input type="file" name="image" class="custom-file-input" id="inputGroup"
                                        aria-describedby="inputGroupFileAddon" required>
                                    <label for="inputGroupFile"
                                        class="custom-file-label">{{language.softwareInfo.signSelectFile}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-tag icon"></i>
                            <input type="text" name="title" class="form-control"
                                placeholder="{{language.softwareInfo.signSoftwareTitle}}" required>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-info-circle icon"></i>
                            <textarea name="description" class="form-control" rows="2"
                                placeholder="{{language.softwareInfo.signSoftwareDescription}}" required></textarea>
                        </div>
                        <div class="form-group">
                            <i class="fab fa-js icon"></i>
                            <select class="form-control selection" id="language" name="language" required>
                                <option value="empty">{{language.softwareInfo.signSoftwareLanguage}}</option>
                                <option value="js">Javascript</option>
                                <option value="ruby">Ruby</option>
                                <option value="python">Python</option>
                                <option value="cpp">C++</option>
                                <option value="cs">C#</option>
                                <option value="c">C</option>
                                <option value="java">Java</option>
                                <option value="php">PHP</option>
                            </select>
                        </div>
                        <div class="form-group" id="toggleFrameworks">
                            <i class="fab fa-react icon" id="iconToReplace"></i>
                            <div id="list1" class="dropdown-check-list" tabindex="100">
                                <span class="anchor">{{language.softwareInfo.frameworkSelection}}</span>
                                <ul class="items form-check" id="toAppendFrameworks">
                                    <li><input type="checkbox" class="form-check-input" />
                                        <p id="1stFrame"></p>
                                    </li>
                                    <li><input type="checkbox" class="form-check-input" />
                                        <p id="2ndFrame"></p>
                                    </li>
                                    <li><input type="checkbox" class="form-check-input" />
                                        <p id="3rdFrame"></p>
                                    </li>
                                    <li><input type="checkbox" class="form-check-input" />
                                        <p id="4thFrame"></p>
                                    </li>
                                    <li><input type="checkbox" class="form-check-input" />
                                        <p id="5thFrame"></p>
                                    </li>
                                </ul>
                            </div>

                            <script type="text/javascript">


                            </script>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-dollar-sign icon"></i>
                            <input type="text" name="price" class="form-control"
                                placeholder="{{language.softwareInfo.signSoftwarePrice}}">
                        </div>
                        {{#if session.nonlogged}}
                        <div class="form-group">
                            <button class="btn btn-success" disabled>
                                <i class="fa fa-upload"></i> {{language.softwareInfo.loginToUpload}}
                            </button>
                        </div>
                        {{else}}
                        <div class="form-group">
                            <button class="btn btn-success">
                                <i class="fa fa-upload"></i> {{language.softwareInfo.upload}}
                            </button>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header bg-dark text-white">
                    <h3> <i class="fas fa-file-code"></i> {{language.softwareInfo.recentUploads}}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        {{#each softs}}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-image">
                                    <a href="/{{languageFinder}}/software/{{uniqueId}}">
                                        <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">{{title}}</span>
                                    <p> <i class="fas fa-info-circle"> </i> {{description}}</p>
                                    <p> <i class="fas fa-money-bill-wave"> </i> {{price}}$ </p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{#if sidebar.stats.softwares}}
        <div class="col-md-4">
            {{> sidebar/stats}}
            {{> sidebar/popular}}
            {{> sidebar/comments}}
        </div>
        {{/if}}
    </div>
</div>