<style>
    body {
        background-image: url("https://wallpaperplay.com/walls/full/8/4/a/44843.jpg");
    }

    .selection {
        height: 120%
    }
</style>

<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-file-code"></i> {{language.uploadYourSoftware}}
        </h3>
    </div>
    <div class="card-body">
        <form action="/{{language.CurrentLanguage}}/software" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <i class="fas fa-file-code icon"></i>
                        <input type="file" name="image" class="custom-file-input" id="inputGroup"
                            aria-describedby="inputGroupFileAddon" required>
                        <label for="inputGroupFile" class="custom-file-label">{{language.signSelectFile}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <i class="fas fa-tag icon"></i>
                <input type="text" name="title" class="form-control" placeholder="{{language.signSoftwareTitle}}"
                    required>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle icon"></i>
                <textarea name="description" class="form-control" rows="2"
                    placeholder="{{language.signSoftwareDescription}}" required></textarea>
            </div>
            <div class="form-group">
                <i class="fab fa-js icon"></i>
                <select class="form-control selection" id="language" name="language" required>
                    <option value="empty">{{language.signSoftwareLanguage}}</option>
                    <option value="js">Javascript</option>
                    <option value="ruby">Ruby</option>
                    <option value="python">Python</option>
                    <option value="cpp">C++</option>
                    <option value="cs">C#</option>
                    <option value="c">C</option>
                    <option value="java">Java</option>
                    <option value="php">PHP</option>
                    <option value="ts">Typescript</option>
                    <option value="perl">Perl</option>
                    <option value="net">.NET</option>
                    <option value="asl">Assembler</option>
                </select>
            </div>
            <div class="form-group">
                <i class="fas fa-dollar-sign icon"></i>
                <input type="text" name="price" class="form-control" placeholder="{{language.signSoftwarePrice}}">
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i> {{language.upload}}
                </button>
            </div>
        </form>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3> <i class="fas fa-file-code"></i> {{language.recentUploads}}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each softs}}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <a href="/{{languageFinder}}/software/{{uniqueId}}">
                            <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <p>{{description}}</p>
                        <p>{{price}}$</p>                       
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>