<div class="dropdown">
    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-user"></i>
        {{session.username}}
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/{{language.CurrentLanguage}}/profile"><i class="fas fa-id-card"></i>
            {{language.userInfo.MyProfile}}</a>
        <a class="dropdown-item" href="/{{language.CurrentLanguage}}"><i class="fas fa-file-code"></i>
            {{language.userInfo.MySoftwares}}</a>
        <a class="dropdown-item" href="/{{language.CurrentLanguage}}"><i class="fas fa-book"></i>
            {{language.userInfo.MyBooks}}</a>
        <a class="dropdown-item" href="/{{language.CurrentLanguage}}"><i class="fas fa-ticket-alt"></i>
            {{language.userInfo.MyTickets}}</a>
        <a class="dropdown-item" href="/{{language.CurrentLanguage}}"><i class="fas fa-question-circle"></i>
            {{language.userInfo.Help}}</a>
    </div>
</div>