<style>
    body {
        background-image: url("https://wallpaperplay.com/walls/full/b/2/d/44859.jpg");

        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
        background-attachment: fixed;

        /* This is what makes the background image rescale based
     on the container's size */
        background-size: cover;

        /* Set a background color that will be displayed
     while the background image is loading */
        background-color: #fcd6d6;

        color: black;
    }
</style>


<div class="container-fluid">
    <hr>
</div>


<div class="container-fluid">
    <hr>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-auto">
                <h1 style="color: rgb(0, 0, 0)">{{session.userSettings.username}}</h1>
            </div>
            <div class="col-sm-2"><a href="/users" class="pull-right"></a></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <hr>
                    <h6> Aurora CEO </h6>
                    <hr>
                    <h6> Little description </h6>
                    <hr>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{language.upload}}</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">{{language.signSelectFile}}</label>
                        </div>
                    </div>
                </div>
                </hr><br>

                <ul class="list-group">
                    <li class="list-group-item text-muted"><i class="fas fa-comments"></i>
                        {{language.userInfo.Activity}} </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-share-alt-square"> {{language.userInfo.TimesShared}}</i>
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-thumbs-up"> {{language.userInfo.TimesLiked}}</i>
                        <span class="badge badge-primary badge-pill">{{session.userSettings.times_liked}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-rss"> {{language.userInfo.TimesPosted}}</i>
                        <span class="badge badge-primary badge-pill">{{session.userSettings.times_posted}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-users"> {{language.userInfo.Followers}}</i>
                        <span class="badge badge-primary badge-pill">{{session.userSettings.followers}}</span>
                    </li>
                </ul>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">{{language.userInfo.Website}} <i class="fa fa-link fa-1x"></i>
                    </div>
                    <div class="panel-body"><a
                            href="https://{{session.userSettings.webpage}}">{{session.userSettings.webpage}}</a>
                    </div>
                    <hr>
                    <div class="panel-heading">Github <i class="fa fa-link fa-1x"></i> <i
                            class="fab fa-github-square"></i> </div>
                    <div class="panel-body"><a
                            href="https://www.github.com/{{session.userSettings.github}}">github.com/{{session.userSettings.github}}</a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-auto">
                    <ul class="nav nav-tabs" id="profileTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true" style="color: black"><i
                                    class="fas fa-home"></i> {{language.sectionsInfo.home}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#settings" role="tab"
                                aria-controls="profile" aria-selected="false" style="color: black"><i
                                    class="fas fa-cog"></i> {{language.userInfo.Settings}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="false" style="color: black"> <i
                                    class="fas fa-id-card"></i> {{language.userInfo.Contact}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#payment" role="tab"
                                aria-controls="payment" aria-selected="false" style="color: black"><i
                                    class="fas fa-shopping-cart"></i>
                                {{language.userInfo.PayingHistory}}</a>
                        </li>
                    </ul>
                    <div class="container-fluid">
                        {{> components/profileComponents/main}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>