<style>
    body {
        background-image: url("https://wallpaperplay.com/walls/full/5/1/8/44860.jpg");
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<link rel="stylesheet" href="/public/css/ourservices.css">
<div class="p-4 mb-5">
    <div class="dark-overlay">
        <div class="services-section">
            <h1 class="section-title p-5">{{language.sectionsInfo.ourServices}}</h1>
            <div class="services-container p-5 mb-5">
                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-paint-brush"></i>
                    </div>
                    <div class="service-title">{{language.ourServicesSection.WebDesigns}}</div>
                    <div class="service-desc">
                        {{language.ourServicesSection.WebDesignsDesc}}
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <div class="service-title">{{language.ourServicesSection.WebDevelopment}}</div>
                    <div class="service-desc">
                        {{language.ourServicesSection.WebDevelopmentDesc}}
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-brush"></i>
                    </div>
                    <div class="service-title">{{language.ourServicesSection.ResponsiveDesigns}}</div>
                    <div class="service-desc">
                        {{language.ourServicesSection.ResponsiveDesignsDesc}}
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-object-ungroup"></i>
                    </div>
                    <div class="service-title">{{language.ourServicesSection.Consulting}}</div>
                    <div class="service-desc">
                        {{language.ourServicesSection.ConsultingDesc}}
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <div class="service-title">{{language.ourServicesSection.Databases}}</div>
                    <div class="service-desc">
                        {{language.ourServicesSection.DatabasesDesc}}

                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fab fa-android"></i>
                    </div>
                    <div class="service-title">{{language.ourServicesSection.AndroidIOS}}</div>
                    <div class="service-desc">
                        {{language.ourServicesSection.AndroidIOSDesc}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>