<div class="card">
    <div class="card-header bg-dark text-white">
        <h3> <i class="far fa-clock"></i> {{language.libraryInfo.recentBookUploads}}</h3>
        <p>{{language.libraryInfo.bookSectionInfo}} </p>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each books}}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <a href="/{{languageFinder}}/library/books/{{uniqueId}}">
                            <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <p> <i class="fas fa-info-circle"> </i> {{description}}</p>
                        <p> <i class="fas fa-money-bill-wave"> </i> {{price}}$ </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{#if session.nonlogged}}
<div>
    <button class="btn btn-success" disabled>
        {{language.softwareInfo.loginToUpload}}
    </button>
</div>
{{else}}
<div>
    <button class="btn btn-success"
        onclick="window.location.href='/{{languageFinder}}/library/books/upload'">{{language.libraryInfo.uploadABook}}
    </button>
</div>
{{/if}}