<style>
    body {
        background-image: url("http://www.toca-ch.com/data/walls/8/21589854.jpg");
    }
</style>

<div class="card mb-3">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title">
                {{language.userAgreementPolicy.userAgreementTitle}}
            </h5>
        </div>
        <div class="card-body">
            <p style="font-weight: 700">{{language.userAgreementPolicy.userAgreementPolicyTitle}}</p>
            <span>{{language.userAgreementPolicy.userAgreementPrivacyPolicyFP}}</span> <br>
            <br>
            <span>{{language.userAgreementPolicy.userAgreementPrivacyPolicySP}}</span> <br>
            <br>
            <p style="font-weight: 700">{{language.userAgreementPolicy.userAgreementReceivedDataTitle}}
            </p>
            <span>{{language.userAgreementPolicy.userAgreementReceivedData}}</span> <br>
            <br>

            <p style="font-weight: 700">{{language.userAgreementPolicy.userAgreementDataUseTitle}}
            </p>
            <span>{{language.userAgreementPolicy.userAgreementDataUseFP}}</span> <br>
            <br>
            <span>{{language.userAgreementPolicy.userAgreementDataUseSP}}</span> <br>
            <br>

            <p style="font-weight: 700">
                Cookies
            </p>
            <span>{{language.userAgreementPolicy.userAgreementCookiesFP}}</span> <br>
            <br>
            <span>{{language.userAgreementPolicy.userAgreementCookiesSP}}</span> <br>
            <br>
            <span>{{language.userAgreementPolicy.userAgreementCookiesTP}}</span> <br>
            <br>

            <p style="font-weight: 700">
                {{language.userAgreementPolicy.userAgreementThirdPartyLinksTitle}}
            </p>
            <span>{{language.userAgreementPolicy.userAgreementThirdPartyLinks}}</span> <br>
            <br>

            <p style="font-weight: 700">
                {{language.userAgreementPolicy.userAgreementPersonalInformationControlTitle}}
            </p>
            <span>{{language.userAgreementPolicy.userAgreementPersonalInformationControl}}</span> <br>
            <br>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><a href="http://www.google.com"
                    style="color: azure">{{language.userAgreementPolicy.userAgreementDecline}}</a></button>
            <button type="button" class="btn btn-primary"><a href="/{{language.CurrentLanguage}}"
                    style="color: azure">{{language.userAgreementPolicy.userAgreementAccept}}</a></button>
        </div>
    </div>
</div>