<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i> {{language.sectionsInfo.stats}}</h5>
    </div>
    <div class="card-body">
        <p> <i class="fas fa-file-code"></i> {{language.sectionsInfo.software}}: {{sidebar.stats.softwares}}</p>
        <p> <i class="fas fa-comments"></i> {{language.softwareInfo.comments}}: {{sidebar.stats.comments}}</p>
        <p> <i class="fas fa-eye"></i> {{language.softwareInfo.totalViews}}: {{sidebar.stats.views}}</p>
        <p> <i class="fas fa-heart"></i> {{language.softwareInfo.likes}}: {{sidebar.stats.likes}}</p>
    </div>
</div>